body {
    position: relative;
    font-family: 'Poppins', sans-serif;
  }

.contact-head{
    margin-top: 2rem;
    height: 15vh;
    color:  #5e4daa;
}

.contact-head p{
    color:  #8c9099;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.comment-form{
    width: 50vw;
}